.gb-tab .tab-header {
  display: flex;
  padding: 0 12px;
}
.gb-tab .tab-header > .tab-header-left,
.gb-tab .tab-header > .tab-header-right {
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  min-width: 20px;
}
.gb-tab .tab-header > .tab-header-left::before {
  content: '<';
}
.gb-tab .tab-header > .tab-header-right::before {
  content: '>';
}
.gb-tab .tab-header > .tab-header-list {
  margin: 0 auto;
  max-width: calc(100vw - 76px);
  overflow: hidden;
}
.gb-tab .tab-header > .tab-header-list > .tab-header-slider {
  display: inline-flex;
  flex: auto 0 0;
  gap: 0 6px;
  transition: transform .32s ease;
}

.gb-tab .tab-header .tab-item {
  display: inline-block;
  white-space: nowrap;
  padding: 4px 8px;
  cursor: pointer;
}

.gb-tab .tab-header .tab-item:hover {
  font-weight: bold;
}

.gb-tab .tab-header .tab-item[selected] {
  color: #c19344;
  font-weight: bold;
}

.gb-tab .tab-body > *:not([selected]) {
  display: none;
}
.gb-tab .tab-body > *[selected] {
  display: block;
}

.gb-tab .tab-body > .legacy {
  padding: 0 27px;
}